<div class="row about-article">
  <div class="col-md-8 col-sm-7">
    <h4>{{title}}</h4>
    <p>{{text}}</p>
  </div>
  <!-- // about article  -->
  <div class="col-md-4 col-sm-5 about-image">
    <img src="{{img}}" alt="" class="img-responsive">
  </div>
  <!-- / about image  -->
</div>
