<div class="container-fluid" id="operation-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h2>Streamlined operation</h2>
          <p>The advertisement process has been streamlined so that you canstart and run your campaigns in a matter of a few clicks.There is a view called Adspaces where you can find all theavailable screens with ratings and descriptions. It is possible to searchby tags, by location or by free text. Just mark the checkbox for everyadspace that you want to use in your campaign.</p>
      </div>

      <div class="col-md-6 new-pad" id="operation-image">

        <div class="over-image">
          <div id="about-image">
            <img src="img/misc/operation.jpg" alt="">
          </div>
        </div>
      </div>

    </div>
    <!-- // row  -->
    </div>
</div>