<div class="container-fluid" id="operation-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h2>Take control of your ads</h2>
          <p>
          Skip all the intermediaries and take full control of the advertisement pipeline. With Adleria you will find the
          relevant screens for your ads, create campaigns that you can update and change them unlimitedly for free.
          </p>
      </div>

      <div class="col-md-6 new-pad" id="operation-image">

        <div class="over-image">
          <div id="about-image">
            <img src="img/misc/operation.jpg" alt="">
          </div>
        </div>
      </div>

    </div>
    <!-- // row  -->
    </div>
</div>

