<div class="container-fluid" id="copy-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <small>&copy; 2016 Adleria, All rights reserved.</small>
        </div>
        <div class="col-md-6 col-sm-6" id="footer-logos">
          <img src="/img/logos/footer-logo.png" alt="">
        </div>
      </div>
      <!-- // row  -->
    </div>
    <!-- // container  -->
  </div>