<div class="container-fluid" id="featured-area">
  <div class="container">
    <div class="row">
      <header>
        <h3>Amazing Features</h3>
        <h4>Let Adleria delight you</h4>
      </header>
    </div>
    <!-- // row  -->
    <div class="row">

      {{#each features}}
        {{> featurebox this}}
      {{/each}}
      <!-- // col md 4  -->

    </div>
    <!-- // row  -->
    <div class="row">
      <footer>
        <a href="/features" class="all-features-btn">see all features</a>
      </footer>
    </div>
  </div>
  <!-- // container  -->
</div>