<div class="row feature-box">
  <div class="col-md-2 col-sm-2 feature-image">
    <img src="{{icon}}" alt="">
  </div>
  <!-- // col md 3  -->
  <div class="col-md-9 col-sm-10">
    <h5>{{title}}</h5>
    <p>{{text}}</p>
  </div>
  <!-- // col md 9 -->
</div>
