<div class="container-fluid" id="mas-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <header>
              <h1>Easy advertisements</h1>
              <h2>on digital screens</h2>
              <h3>Adleria is web solution for advertising on indoors and outdoors digital screens</h3>
          </header>
      </div>
    </div>

    <div class="row" id="form-wrapper">

      <div class="col-lg-4 col-md-6 col-sm-5 col-lg-offset-1">
        <input type="text">
      </div>

      <div class="col-lg-2 col-md-2 col-sm-2">
        <select name="" id="">
          <option value="">Select</option>
          <option value="">Select 2</option>
        </select>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-2">
        <select name="" id="">
          <option value="">Select</option>
          <option value="">Select 2</option>
        </select>
      </div>
      <!-- // col lg 2  -->

      <div class="col-lg-2 col-md-2 col-sm-3">
        <input type="submit" value="search">
      </div>
      <!-- // form  -->

    </div>

  </div>
</div>
