<div class="container-fluid" id="mas-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <header>
              <h1>{{mainbar.title}}</h1>
              <h2>{{mainbar.titlelarge}}</h2>
              <h3>{{mainbar.subtitle}}</h3>
          </header>
      </div>
    </div>

    <div class="row" id="form-wrapper">

      <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-1">
        <input id="search-adspace" type="text">
      </div>

      <!--<div class="col-lg-2 col-md-2 col-sm-2">
        <select name="" id="">
          <option value="">Select</option>
          <option value="">Select 2</option>
        </select>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-2">
        <select name="" id="">
          <option value="">Select</option>
          <option value="">Select 2</option>
        </select>
      </div>
      <!-- // col lg 2  -->

      <div class="col-lg-2 col-md-2 col-sm-2">
        <input id="adspace-search-btn" type="submit" value="search">
      </div>
      <!-- // form  -->

    </div>

  </div>
</div>
