<div class="container-fluid" id="news-block">
  <div class="container">
    <div class="row">
      <header>
        <h4>Latest news & updates</h4>
        <h5>Proin iaculis purus consequat sem cure. </h5>
      </header>
    </div>
    <!-- // row  -->
    <div class="row">

    <div class="owl-carousel" id="news-slider">

      <div class="item">
        <article class="news-box">
          <img src="img/bg/news.jpg" alt="" class="img-responsive">
          <h4>News title here</h4>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget cursus quam, vitae egestas mauris. Pellentesque sit amet mollis mi, eu vestibulum leo. Praesent suscipit.</p>
          <a href="#" class="more-btn">more</a>
        </article>
        <!-- // news box  -->
      </div>
      <!-- // col md 4  -->

      <div class="item">
        <article class="news-box">
          <img src="img/bg/news.jpg" alt="" class="img-responsive">
          <h4>News title here</h4>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget cursus quam, vitae egestas mauris. Pellentesque sit amet mollis mi, eu vestibulum leo. Praesent suscipit.</p>
          <a href="#" class="more-btn">more</a>
        </article>
        <!-- // news box  -->
      </div>
      <!-- // col md 4  -->

      <div class="item">
        <article class="news-box">
          <img src="img/bg/news.jpg" alt="" class="img-responsive">
          <h4>News title here</h4>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget cursus quam, vitae egestas mauris. Pellentesque sit amet mollis mi, eu vestibulum leo. Praesent suscipit.</p>
          <a href="#" class="more-btn">more</a>
        </article>
        <!-- // news box  -->
      </div>
      <!-- // col md 4  -->

      </div>
      <!-- // news                               -->

    </div>
  </div>
  <!-- // container  -->
</div>
