
<div class="container-fluid" id="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-5" id="branding">
        <a href="#"><img src="/img/logos/site-logo.png" alt="Adleria" class="img-responsive"></a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        </div>
        <!-- // branding  -->
        <div class="col-lg-1 col-md-2 col-md-offset-6 col-lg-offset-8 col-xs-6 col-sm-2 col-sm-offset-4 hidden-xs" id="login-area">
          <a href="#">{{topbar.login}}</a>
        </div>
        <!-- // login area  -->
        <div class="col-lg-1 col-md-1 col-xs-6 col-sm-1 hidden-xs" id="language-area">

          <div class="dropdown">
            <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="/img/ico/lang.png" alt="">
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li>
                <a href="#"><img src="/img/ico/es.png" alt=""> </a>
              </li>
              <li>
                <a href="#"><img src="/img/ico/lang.png" alt=""> </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- // language  -->
      </div>
      <!-- // row  -->
    </div>
    <!-- // container  -->
  </div>
  <!-- // top bar  -->
