{{#extend "main" page="about"}}

  {{#content "body"}}
    {{> topbar }}

    {{> menubar }}

    <!-- Headline -->
    <div class="container-fluid" id="about-page-block">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
              <h2>First headline goes here</h2>
              <p>The advertisement process has been streamlined so that you canstart and run your campaigns in a matter of a few clicks.There is a view called Adspaces where you can find all theavailable screens with ratings and descriptions. It is possible to searchby tags, by location or by free text. Just mark the checkbox for everyadspace that you want to use in your campaign.</p>
          </div>

          <div class="col-md-6 col-sm-12 new-pad">
            <div class="over-image">
              <div id="about-image">
                <img src="/img/misc/video.jpg">
              </div>
            </div>
          </div>

        </div>
        <!-- // row  -->
      </div>
    </div>

    <!-- About rows -->
    <div class="container-fluid" id="about-main-block">
      <div class="container">

        <!-- Sloga -->
        <div class="row">
          <header>
            <h1>Easy advertisements</h1>
            <h2>on digital screens</h2>
            <h3>Proin iaculis purus consequat sem cure. </h3>
          </header>
        </div>

        {{> aboutleft first }}

        {{> aboutright second }}

      </div>
    </div>

    {{> footer }}

    {{> copybar }}
  {{/content}}

{{/extend}}
