{{#extend "main" page="about"}}

  {{#content "body"}}
    {{> topbar }}

    {{> menubar }}

    <!-- Headline -->
    <div class="container-fluid" id="about-page-block">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
              <h2>First headline goes here</h2>
              <p>The advertisement process has been streamlined so that you canstart and run your campaigns in a matter of a few clicks.There is a view called Adspaces where you can find all theavailable screens with ratings and descriptions. It is possible to searchby tags, by location or by free text. Just mark the checkbox for everyadspace that you want to use in your campaign.</p>
          </div>

          <div class="col-md-6 col-sm-12 new-pad">
            <div class="over-image">
              <div id="about-image">
                <img src="/img/misc/video.jpg">
              </div>
            </div>
          </div>

        </div>
        <!-- // row  -->
      </div>
    </div>

    <!-- About rows -->
    <div class="container-fluid" id="about-main-block">
      <div class="container">

        <!-- Sloga -->
        <div class="row">
          <header>
            <h1>Easy advertisements</h1>
            <h2>on digital screens</h2>
            <h3>Proin iaculis purus consequat sem cure. </h3>
          </header>
        </div>
        <!-- // row  -->

        <div class="row about-article">
          <div class="col-md-8 col-sm-7">
            <h4>All-in-one advertising solution</h4>
            <p>Adleria is a new web solution for advertising on indoors andoutdoors digital screens, the so called digital signage screens. Adleriaaggregates, classifies and rates all the screens on an area and allowsyou to create campaigns on them. It is easy to find the relevant screensthat are where your target group is. You can also filter by rating, onlydisplaying ads on those screens that meets the standards that yourpublicity requires.</p>
          </div>
          <!-- // about article  -->
          <div class="col-md-4 col-sm-5 about-image">
            <img src="/img/misc/about1.jpg" alt="" class="img-responsive">
          </div>
          <!-- / about image  -->
        </div>
        <!-- // row  -->

        <div class="row about-article">
          <div class="col-md-4 col-sm-5 about-image">
            <img src="/img/misc/about2.jpg" alt="" class="img-responsive">
          </div>
          <!-- / about image  -->
          <div class="col-md-8 col-sm-7">
            <h4>Running campaigns with a single click</h4>
            <p>Adleria is a new web solution for advertising on indoors andoutdoors digital screens, the so called digital signage screens. Adleriaaggregates, classifies and rates all the screens on an area and allowsyou to create campaigns on them. It is easy to find the relevant screensthat are where your target group is. You can also filter by rating, onlydisplaying ads on those screens that meets the standards that yourpublicity requires.</p>
          </div>
          <!-- // about article  -->
        </div>
        <!-- // row  -->

      </div>
      <!-- // container  -->
    </div>
    <!-- // top bar  -->


    {{> footer }}

    {{> copybar }}
  {{/content}}

{{/extend}}
