{{#extend "main" page="about"}}

  {{#content "body"}}
    {{> topbar }}

    {{> menubar }}

    <!-- Headline -->
    {{> headlineblack headline }}

    <!-- About rows -->
    <div class="container-fluid" id="about-main-block">
      <div class="container">

        <!-- Slogan -->
        <div class="row">
          <header>
            <h1>Easy advertisements</h1>
            <h2>on digital screens</h2>
            <h3>For small and large business</h3>
          </header>
        </div>

        {{> aboutleft first }}

        {{> aboutright second }}

      </div>
    </div>

    {{> footer }}

    {{> copybar }}
  {{/content}}

{{/extend}}
