{{#extend "main" page="faq"}}

  {{#content "body"}}
    {{> topbar }}

    {{> menubar }}

  <div class="container-fluid" id="faq-block">
        <div class="container">
          <div class="row">
            <header>
              <h1>FAQ</h1>
              <h2>you ask, we answer</h2>
              <h3>Proin iaculis purus consequat sem cure. </h3>
            </header>

            <div class="col-md-12">
              <article class="faq-box">
                <h4>Question text goes here</h4>
                <p>Adleria is a new web solution for advertising on indoors andoutdoors digital screens, the so called digital signage screens. Adleriaaggregates, classifies and rates all the screens on an area and allowsyou to create campaigns on them. It is easy to find the relevant screensthat are where your target group is. You can also filter by rating, onlydisplaying ads on those screens that meets the standards that yourpublicity requires.</p>
              </article>
            </div>
            <!-- // faq box col  -->

            <div class="col-md-12">
              <article class="faq-box">
                <h4>Question text goes here</h4>
                <p>Adleria is a new web solution for advertising on indoors andoutdoors digital screens, the so called digital signage screens. Adleriaaggregates, classifies and rates all the screens on an area and allowsyou to create campaigns on them. It is easy to find the relevant screensthat are where your target group is. You can also filter by rating, onlydisplaying ads on those screens that meets the standards that yourpublicity requires.</p>
              </article>
            </div>
            <!-- // faq box col  -->

            <div class="col-md-12">
              <article class="faq-box">
                <h4>Question text goes here</h4>
                <p>Adleria is a new web solution for advertising on indoors andoutdoors digital screens, the so called digital signage screens. Adleriaaggregates, classifies and rates all the screens on an area and allowsyou to create campaigns on them. It is easy to find the relevant screensthat are where your target group is. You can also filter by rating, onlydisplaying ads on those screens that meets the standards that yourpublicity requires.</p>
              </article>
            </div>
            <!-- // faq box col  -->

            <div class="col-md-12" id="not-found-block">
              <h6>Not found an answer?</h6>
              <a href="#">contact us now</a>
            </div>



          </div>
          <!-- // row  -->
        </div>
        <!-- // container  -->
      </div>
      <!-- // top bar  -->

        <div class="container-fluid" id="bottom-cta">
          <div class="container">
            <div class="row">
              <header>
                <h5>Find your place to advertise</h5>
              </header>

          <div class="row" id="form-wrapper">

            <div class="col-lg-4 col-md-6 col-sm-5 col-lg-offset-1">
              <input type="text">
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
              <select name="" id="">
                <option value="">Select</option>
                <option value="">Select 2</option>
              </select>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
                 <select name="" id="">
                <option value="">Select</option>
                <option value="">Select 2</option>
              </select>
            </div>
            <!-- // col lg 2  -->

            <div class="col-lg-2 col-md-2 col-sm-3">
              <input type="submit" value="search">
            </div>
            <!-- // form  -->

          </div>

            </div>
            <!-- // row  -->
          </div>
          <!-- // container  -->
        </div>
        <!-- // top bar  -->

    {{> footer }}

    {{> copybar }}
  {{/content}}

{{/extend}}
