{{#extend "main" page="features"}}

  {{#content "body"}}
    {{> topbar }}

    {{> menubar }}

    <div class="container-fluid" id="features-content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-8" id="features-left">
            <h4>Perfect solution for advertising</h4>
            <p>Adleria is a new web solution for advertising on indoors andoutdoors digital screens, the so called digital signage screens. Adleriaaggregates, classifies and rates all the screens on an area and allowsyou to create campaigns on them. It is easy to find the relevant screensthat are where your target group is. You can also filter by rating, onlydisplaying ads on those screens that meets the standards that yourpublicity requires.
  <br><br>
  The campaigns can run during certain periods of time, on one ormany screens. It is possible to configure how often the ads should beplayed, and the ads can be changed unlimited times without any extracosts. You can stop the campaigns at any time if you want to do so.
  <br><br>
  You will get complete reports about where and when your adshave been played, and you will only pay for those.</p>
          </div>
          <!-- // features left  -->
          <div class="col-md-4 col-sm-4" id="features-image">
            <img src="/img/misc/features.jpg" alt="" class="img-responsive">
          </div>
          <!-- // features image  -->
        </div>
        <!-- // row  -->
      </div>
    <!-- // container  -->
  </div>
  <!-- // features  -->

    <div class="container-fluid" id="features-list">
      <div class="container">
        <div class="row">
          <header>
            <h2>amazing features</h2>
            <h3>Proin iaculis purus consequat sem cure. </h3>
          </header>
        </div>
        <!-- // row  -->

        <div class="row feature-box">
          <div class="col-md-2 col-sm-2 feature-image">
            <img src="/img/ico/features1.png" alt="">
          </div>
          <!-- // col md 3  -->
          <div class="col-md-9 col-sm-10">
            <h5>Aggregation</h5>
            <p>Adleria aggregates screens from different networks and presentthem uniformly. When creating campaigns all screens appearhomogenous, and as advertisers you just need to concentrate onwhere and when your advertisement should be displayed.</p>
          </div>
          <!-- // col md 9 -->
        </div>
        <!-- // row feature box  -->

        <div class="row feature-box">
          <div class="col-md-2 col-sm-2 feature-image">
            <img src="/img/ico/features2.png" alt="">
          </div>
          <!-- // col md 3  -->
          <div class="col-md-9 col-sm-10">
            <h5>Classification</h5>
            <p>In order to find the more suitable screens for your campaign,adleria classifies its screens with tags. The tags describe the targetgroups relevant for the venue where the screen is located. Thisincreases the conversion rate for your ads.</p>
          </div>
          <!-- // col md 9 -->
        </div>
        <!-- // row feature box  -->

        <div class="row feature-box">
          <div class="col-md-2 col-sm-2 feature-image">
            <img src="/img/ico/features3.png" alt="">
          </div>
          <!-- // col md 3  -->
          <div class="col-md-9 col-sm-10">
            <h5>Rating</h5>
            <p>Adleria performs an independent rating of every ad space. Thisrating is based on factors such as screen size, location value, amount ofdaily visitors and many others. The rating is produced in a way that webelieve will make you confident when selecting ad spaces and get asmuch results for the bucks as possible.</p>
          </div>
          <!-- // col md 9 -->
        </div>
        <!-- // row feature box  -->

        <div class="row feature-box">
          <div class="col-md-2 col-sm-2 feature-image">
            <img src="/img/ico/features4.png" alt="">
          </div>
          <!-- // col md 3  -->
          <div class="col-md-9 col-sm-10">
            <h5>Approval</h5>
            <p>Every ad needs to be approved before it can be displayed on agiven ad-space. This approval process is quick, and works by sendinga notification mail to the manager responsible for the ad-space. Assoon as the content is approved, the ads will start streaming accordingto your schedule settings in your campaign.</p>
          </div>
          <!-- // col md 9 -->
        </div>
        <!-- // row feature box  -->

        <div class="row feature-box">

          <div class="col-md-2 col-sm-2 feature-image">
            <img src="/img/ico/features5.png" alt="">
          </div>
          <!-- // col md 3  -->
          <div class="col-md-10 col-sm-10">
            <h5>Streamlined operation</h5>
            <p>The advertisement process has been streamlined so that you canstart and run your campaigns in a matter of a few clicks.</p>
          </div>
          <!-- // col md 9 -->
          <div class="clearfix"></div>

          <div class="col-md-12 features-big-box" >
            <hr>
            <div class="row" >
              <div class="col-md-6 col-sm-6">
                <h6>Adspaces</h6>
                <p>There is a view called Adspaces where you can find all theavailable screens with ratings and descriptions. It is possible to searchby tags, by location or by free text. Just mark the checkbox for everyadspace that you want to use in your campaign.</p>
              </div>
              <div class="col-md-6 col-sm-6">
                <img src="/img/bg/featbig.jpg" alt="" class="img-responsive">
              </div>
            </div>
            <!-- // row  -->
          </div>
          <!-- // col md 12   article             -->

          <div class="col-md-12 features-big-box" >
            <hr>
            <div class="row" >
              <div class="col-md-6 col-sm-6">
                <img src="/img/bg/featbig3.jpg" alt="" class="img-responsive">
              </div>
              <div class="col-md-6 col-sm-6">
                <h6>Media Manager</h6>
                <p>You can upload the medias for your campaigns (videos, images,powerpoint or PDFs). And get a view all of your content in a simpleview.Adleria</p>
              </div>
            </div>
            <!-- // row  -->
          </div>
          <!-- // col md 12   article             -->

          <div class="col-md-12 features-big-box" >
            <hr>
            <div class="row" >
              <div class="col-md-6 col-sm-6">
                <h6>Create campaign</h6>
                <p>Select where, when and how often you want to show your adsand when by creating a Campaign. You will get an estimation for theamount of times your add will be displayed on the campaign (numberof impressions) as well as a budget of the cost for the given campaign</p>
              </div>
              <div class="col-md-6 col-sm-6">
                <img src="/img/bg/featbig4.jpg" alt="" class="img-responsive">
              </div>
            </div>
            <!-- // row  -->
          </div>
          <!-- // col md 12   article             -->

          <div class="col-md-12 features-big-box" >
            <hr>
            <div class="row" >
              <div class="col-md-6 col-sm-6">
                <img src="/img/bg/featbig5.jpg" alt="" class="img-responsive">
              </div>
              <div class="col-md-6 col-sm-6">
                <h6>Add funds easily</h6>
                <p>OptimalBits12 January 2016Select where, when and how often you want to show your adsand when by creating a Campaign. You will get an estimation for theamount of times your add will be displayed on the campaign (numberof impressions) as well as a budget of the cost for the given campaignAdd funds safely using your credit card. Funds can be addedlater on as needed.</p>
              </div>
            </div>
            <!-- // row  -->
          </div>
          <!-- // col md 12   article             -->

          <div class="col-md-12 features-big-box" >
            <hr>
            <div class="row" >
              <div class="col-md-6 col-sm-6">
                <h6>Create campaign</h6>
                <p>Get a complete transaction history and international compliant invoices for your accounting, when your campaign is ready you just press “Start” and thecampaign will be started on the given adspaces.
<br><br>
A manager willapprove your content so that it is suitable, and if it is not you will benotified and the reason for it, otherwise the ads will just run accordingto your specified time.You can pause a campaign at any time and change for examplethe Media, or the number of impressions per hour at no additionalcost.</p>
              </div>
              <div class="col-md-6 col-sm-6">
                <img src="/img/bg/featbig6.jpg" alt="" class="img-responsive">
              </div>
            </div>
            <!-- // row  -->
          </div>
          <!-- // col md 12   article             -->

        </div>
        <!-- // row feature box  -->

      </div>
      <!-- // container  -->
    </div>
          <!-- // top bar  -->

    {{> footer }}

    {{> copybar }}
  {{/content}}

{{/extend}}
