{{#extend "main" page="features"}}

  {{#content "body"}}
    {{> topbar }}

    {{> menubar }}

  <!-- // features  -->

    <div class="container-fluid" id="features-list">
      <div class="container">
        <div class="row">
          <header>
            <h2>Amazing Features</h2>
            <h3>Let Adleria delight you</h3>
          </header>
        </div>

        {{#each featureslong}}
          {{> featureboxlarge this }}
        {{/each}}
        <!-- // row  -->

        <div class="row feature-box">

          <div class="col-md-2 col-sm-2 feature-image">
            <img src="/img/ico/features5.png" alt="">
          </div>
          <!-- // col md 3  -->
          <div class="col-md-10 col-sm-10">
            <h5>Streamlined operation</h5>
            <p>The advertisement process has been streamlined so that you canstart and run your campaigns in a matter of a few clicks.</p>
          </div>
          <!-- // col md 9 -->
          <div class="clearfix"></div>

          <div class="col-md-12 features-big-box" >
            <hr>
            <div class="row" >
              <div class="col-md-6 col-sm-6">
                <h6>Adspaces</h6>
                <p>There is a view called Adspaces where you can find all the available screens with ratings and descriptions. It is possible to searchby tags, by location or by free text. Just mark the checkbox for every adspace that you want to use in your campaign.</p>
              </div>
              <div class="col-md-6 col-sm-6">
                <img src="/img/bg/featbig.jpg" alt="" class="img-responsive">
              </div>
            </div>
            <!-- // row  -->
          </div>
          <!-- // col md 12   article             -->

          <div class="col-md-12 features-big-box" >
            <hr>
            <div class="row" >
              <div class="col-md-6 col-sm-6">
                <img src="/img/bg/featbig3.jpg" alt="" class="img-responsive">
              </div>
              <div class="col-md-6 col-sm-6">
                <h6>Media Manager</h6>
                <p>You can upload the medias for your campaigns (videos, images, powerpoint or PDFs).
                  And get a view all of your content in a simple view.</p>
              </div>
            </div>
            <!-- // row  -->
          </div>
          <!-- // col md 12   article             -->

          <div class="col-md-12 features-big-box" >
            <hr>
            <div class="row" >
              <div class="col-md-6 col-sm-6">
                <h6>Create campaign</h6>
                <p>Select where, when and how often you want to show your ads and when by creating a Campaign.
                  You will get an estimation for the amount of times your add will be displayed on the campaign
                  (number of impressions) as well as a budget of the cost for the given campaign.

                  When your campaign is ready you just press “Start” and the campaign will be started on
                  the given adspaces. A manager will approve your content so that it is suitable, and if it
                  is not you will be notified and the reason for it, otherwise the ads will just run
                  according to your specified time. You can pause a campaign at any time and change for
                  example the Media, or the number of impressions per hour at no additional cost.</p>
              </div>
              <div class="col-md-6 col-sm-6">
                <img src="/img/bg/featbig4.jpg" alt="" class="img-responsive">
              </div>
            </div>
            <!-- // row  -->
          </div>
          <!-- // col md 12   article             -->

          <div class="col-md-12 features-big-box" >
            <hr>
            <div class="row" >
              <div class="col-md-6 col-sm-6">
                <img src="/img/bg/featbig5.jpg" alt="" class="img-responsive">
              </div>
              <div class="col-md-6 col-sm-6">
                <h6>Add funds easily</h6>
                <p>Add funds safely using your credit card. Funds can be added later on as needed.</p>
              </div>
            </div>
            <!-- // row  -->
          </div>
          <!-- // col md 12   article             -->

          <div class="col-md-12 features-big-box" >
            <hr>
            <div class="row" >
              <div class="col-md-6 col-sm-6">
                <h6>Transaction details and invoices</h6>
                <p>Get a complete transaction history and international compliant invoices for your accounting.</p>
              </div>
              <div class="col-md-6 col-sm-6">
                <img src="/img/bg/featbig6.jpg" alt="" class="img-responsive">
              </div>
            </div>
            <!-- // row  -->
          </div>
          <!-- // col md 12   article             -->

        </div>
        <!-- // row feature box  -->

      </div>
      <!-- // container  -->
    </div>
          <!-- // top bar  -->

    {{> footer }}

    {{> copybar }}
  {{/content}}

{{/extend}}
