{{#extend "main" page="home"}}

  {{#content "body"}}
    {{> topbar }}

    {{> menubar }}

    {{> mainbar }}
    <!-- Main Home content -->

    {{> customersbar }}

    <!-- About Block -->
    <div id="about-block">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
              <h2>Perfect solution for advertising</h2>
              <p>Adleria is a new web solution for advertising on indoors andoutdoors digital screens, the so called digital signage screens. Adleriaaggregates, classifies and rates all the screens on an area and allowsyou to create campaigns on them. It is easy to find the relevant screensthat are where your target group is. You can also filter by rating, onlydisplaying ads on those screens that meets the standards that yourpublicity requires.</p>
              <a href="http://brezilla.info/lps/adleria/#" class="more-btn">more</a>
          </div>

          <div class="col-md-6 col-sm-12 new-pad">
            <div class="over-image">
              <div id="about-image">
                <img src="img/misc/video.jpg">
              </div>
            </div>
          </div>

        </div>
        <!-- // row  -->
        </div>
    </div>

    <!-- features -->
    <div class="container-fluid" id="featured-area">
      <div class="container">
        <div class="row">
          <header>
            <h3>amazing features</h3>
            <h4>Proin iaculis purus consequat sem cure. </h4>
          </header>
        </div>
        <!-- // row  -->
        <div class="row">

          <div class="col-md-4 col-sm-4">
            <div class="featured-box">
              <img src="img/ico/feat1.png" alt="">
              <h5>Aggregation</h5>
              <p>Adleria aggregates screens from different networks and presentthem uniformly.</p>
            </div>
            <!-- // featured box  -->
          </div>
          <!-- // col md 4  -->

          <div class="col-md-4 col-sm-4">
            <div class="featured-box">
              <img src="img/ico/feat2.png" alt="">
              <h5>Classification</h5>
              <p>In order to find the more suitable screens for your campaign,adleria classifies its screens with tags.</p>
            </div>
            <!-- // featured box  -->
          </div>
          <!-- // col md 4  -->

          <div class="col-md-4 col-sm-4">
            <div class="featured-box">
              <img src="img/ico/feat3.png" alt="">
              <h5>Rating</h5>
              <p>Adleria performs an independent rating of every ad space. Thisrating is based on factors.</p>
            </div>
            <!-- // featured box  -->
          </div>
          <!-- // col md 4  -->

          <div class="col-md-4 col-sm-4">
            <div class="featured-box">
              <img src="img/ico/feat4.png" alt="">
              <h5>Approval</h5>
              <p>Every ad needs to be approved before it can be displayed on agiven ad-space.</p>
            </div>
            <!-- // featured box  -->
          </div>
          <!-- // col md 4  -->

          <div class="col-md-4 col-sm-4">
            <div class="featured-box">
              <img src="img/ico/feat5.png" alt="">
              <h5>Streamlined operation</h5>
              <p>The advertisement process has been streamlined so that you can run your campaigns in a matter of a few clicks.</p>
            </div>
            <!-- // featured box  -->
          </div>
          <!-- // col md 4  -->

          <div class="col-md-4 col-sm-4">
            <div class="featured-box">
              <img src="img/ico/feat6.png" alt="">
              <h5>powerfull ui</h5>
              <p>Adleria performs an independent rating of every ad space. Thisrating is based on factors.</p>
            </div>
            <!-- // featured box  -->
          </div>
          <!-- // col md 4  -->

        </div>
        <!-- // row  -->
        <div class="row">
          <footer>
            <a href="http://brezilla.info/lps/adleria/#" class="all-features-btn">see all features</a>
          </footer>
        </div>
      </div>
      <!-- // container  -->
    </div>

    {{> footer }}

    {{> copybar }}
  {{/content}}

{{/extend}}
