{{#extend "main" page="networks"}}

  {{#content "body"}}
    {{> topbar }}

    {{> menubar }}

<div class="container-fluid network-owners-page" id="about-page-block">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                    <h2>For Network owners</h2>
                    <p>If you are already running a network of displays you couldconsider to connect it to Adleria. We provide open APIs and freesupport for all networks that want to integrate with us. By doing it youwill open a new income channel for your customers and for yourself.
<br><br>
If you are not running a network yet but you would like to do so,you can test the white label digital signage product from“Castmill” (castmill.com), which is fully integrated with Adleria.</p>
                </div>

                <div class="col-md-6 col-sm-12 new-pad">
                  <div class="over-image">
                    <div id="about-image">
                      <img src="/img/misc/network.jpg">
                    </div>
                  </div>
                </div>

              </div>
              <!-- // row  -->
              </div>
          </div>
          <!-- // about  -->

             <div class="container-fluid" id="main-content">
               <div class="container">

                 <div class="row main-article">
                   <div class="col-md-8 col-sm-8" id="main-content-left">
                     <h4>Headline goes here</h4>
                     <p>Every month you will get a reverse invoice with a detaileddescription of the ads published on your screens and the givenamount of revenue in your bank account. The invoices followsinternational taxation standards so that it becomes super easy for youto account for the revenues.
<br><br>
The revenues are based on the amount of ads that are displayedon your screens. You set yourself the price per impression (animpression is one ad being displayed on a screen), and the amount oftime you want to allow for advertisements (in percentage).</p>
                    <h6><a href="#">Contact us for more information </a> about how to integrate adleria and other questions you may have.</h6>
                   </div>

                   <!-- // main content left  -->
                   <div class="col-md-4 col-sm-4" id="main-sidebar">
                     <img src="/img/misc/network2.jpg" alt="" class="img-responsive">
                   </div>
                   <!-- // main sidebar  -->

                 </div>
                 <!-- // row  -->




               </div>
               <!-- // container  -->
             </div>
             <!-- // top bar  -->

    {{> footer }}

    {{> copybar }}
  {{/content}}

{{/extend}}
