{{#extend "main" page="news"}}

  {{#content "body"}}
    {{> topbar }}

    {{> menubar }}

<div class="container-fluid" id="news-content">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-sm-9" id="news-left-content">


              <article class="news-article-box">
                <img src="/img/misc/news.jpg" alt="" class="img-responsive">
                <h3>News title goes here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae bibendum odio. Integer eu ante ipsum. Maecenas felis libero, venenatis sit amet bibendum a, pulvinar a dolor. Nunc lectus odio, aliquet vel viverra ac, varius a eros. Sed tempus nisi eget aliquet commodo. In sed sapien at augue dignissim malesuada sed eu libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae bibendum odio. Integer eu ante ipsum.</p>
                <a href="#" class="learn-btn">more</a>
              </article>


              <article class="news-article-box">
                <img src="/img/misc/news.jpg" alt="" class="img-responsive">
                <h3>News title goes here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae bibendum odio. Integer eu ante ipsum. Maecenas felis libero, venenatis sit amet bibendum a, pulvinar a dolor. Nunc lectus odio, aliquet vel viverra ac, varius a eros. Sed tempus nisi eget aliquet commodo. In sed sapien at augue dignissim malesuada sed eu libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae bibendum odio. Integer eu ante ipsum.</p>
                <a href="#" class="learn-btn">more</a>
              </article>

              <article class="news-article-box">
                <img src="/img/misc/news.jpg" alt="" class="img-responsive">
                <h3>News title goes here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae bibendum odio. Integer eu ante ipsum. Maecenas felis libero, venenatis sit amet bibendum a, pulvinar a dolor. Nunc lectus odio, aliquet vel viverra ac, varius a eros. Sed tempus nisi eget aliquet commodo. In sed sapien at augue dignissim malesuada sed eu libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae bibendum odio. Integer eu ante ipsum.</p>
                <a href="#" class="learn-btn">more</a>
              </article>


            </div>
            <!-- // news left content  -->
            <div class="col-md-3 col-sm-3" id="news-sidebar">
              <div class="category-box">
                <header>
                  <h5>Categories</h5>
                </header>
                <ul>
                  <li><a href="#">Category</a></li>
                  <li><a href="#">Category</a></li>
                  <li><a href="#">Category</a></li>
                  <li><a href="#">Category</a></li>
                  <li><a href="#">Category</a></li>
                </ul>
              </div>
              <!-- // categories  -->
              <div class="search-box">
                <header>
                  <h5>Search News</h5>
                </header>

                <input type="text">
                <input type="submit" value="Search">
              </div>
              <!-- // search box  -->
            </div>
            <!-- // sidebar  -->
          </div>
          <!-- // row  -->
        </div>
        <!-- // container  -->
      </div>
      <!-- // top bar  -->

    {{> footer }}

    {{> copybar }}
  {{/content}}

{{/extend}}
