{{#extend "main" page="owners"}}

  {{#content "body"}}
    {{> topbar }}

    {{> menubar }}

<div class="container-fluid" id="about-page-block">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                    <h2>For Screen owners</h2>
                    <p>Our philosophy is simple: give the largest chunk of revenues tothe owners of the screen, while we keep a small percentage for takingcare of all the technical and administrative stuff. Getting revenues fromadleria is as simple as creating one or several ad-spaces that describesyour screens and waiting advertisers to start using them. <br><br>

Adleria performs marketing and campaigns to promote yourscreens so that you can get the most it, and you can also easily send alink with your screens to your contacts so that they can directly buy adson them.</p>
                </div>


                <div class="col-md-6 col-sm-12 new-pad">
                  <div class="over-image">
                    <div id="about-image">
                      <img src="/img/misc/screenowners.jpg">
                    </div>
                  </div>
                </div>

              </div>
              <!-- // row  -->
              </div>
          </div>
          <!-- // about  -->

             <div class="container-fluid" id="main-content">
               <div class="container">

                 <div class="row main-article">
                   <div class="col-md-8 col-sm-8" id="main-content-left">
                     <h4>Headline goes here</h4>
                     <p>Every month you will get a reverse invoice with a detaileddescription of the ads published on your screens and the givenamount of revenue in your bank account. The invoices followsinternational taxation standards so that it becomes super easy for youto account for the revenues.
<br><br>
The revenues are based on the amount of ads that are displayedon your screens. You set yourself the price per impression (animpression is one ad being displayed on a screen), and the amount oftime you want to allow for advertisements (in percentage).</p>
       <hr>
                   </div>

                   <!-- // main content left  -->
                   <div class="col-md-4 col-sm-4" id="main-sidebar">
                     <img src="/img/misc/tmp.jpg" alt="" class="img-responsive">
                   </div>
                   <!-- // main sidebar  -->

                 </div>
                 <!-- // row  -->


                 <div class="row main-article">
                   <div class="col-md-8 col-sm-8" id="main-content-left">
                     <h4>Headline goes here</h4>
                     <p>Lets assume an adspace with 2 screens, an impression price of 2cents of € per 30 seconds and 100% allocation time. We also assume that the screens arerunning 8 hours a day.</p>
                     <p><strong>total monthly revenues = 8 (hours) * 120 (ad slots/hour) * 30 (days) * 0.02€ = 576€</strong></p>
                     <p>(0.02€ is considered the price for a low graded tier ad-space, for busy and popular venuesthe prices can be considerably higher)</p>
                   </div>
                   <!-- // main content left  -->
                   <div class="col-md-4 col-sm-4" id="main-sidebar">
                   </div>
                   <!-- // main sidebar  -->
                 </div>
                 <!-- // row  -->

               </div>
               <!-- // container  -->
             </div>
             <!-- // top bar  -->

      <div class="container-fluid" id="bottom-cta">
          <div class="container">
            <div class="row">
              <header>
                <h5>Find your place to advertise</h5>
              </header>

          <div class="row" id="form-wrapper">

            <div class="col-lg-4 col-md-6 col-sm-5 col-lg-offset-1">
              <input type="text">
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
              <select name="" id="">
                <option value="">Select</option>
                <option value="">Select 2</option>
              </select>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
                 <select name="" id="">
                <option value="">Select</option>
                <option value="">Select 2</option>
              </select>
            </div>
            <!-- // col lg 2  -->

            <div class="col-lg-2 col-md-2 col-sm-3">
              <input type="submit" value="search">
            </div>
            <!-- // form  -->

          </div>

            </div>
            <!-- // row  -->
          </div>
          <!-- // container  -->
        </div>

    {{> footer }}

    {{> copybar }}
  {{/content}}

{{/extend}}
