{{#extend "main" page="pricing"}}

  {{#content "body"}}
    {{> topbar }}

    {{> menubar }}

<div class="container-fluid" id="pricing-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <div class="pricing-cta">
            <img src="/img/logos/pricing-logo.png" alt="">
            <h5>Pay As You Go</h5>
            <h6>no fixed price, no hidden fees</h6>
            <footer>
              <a href="#">start using adleria</a>
            </footer>
          </div>
          </div>
          <!-- // pricing cta  -->
        </div>
        <!-- // row  -->
      </div>
      <!-- // container  -->
    </div>
    <!-- // pricing header             -->

      <div class="container-fluid" id="pricing-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h4>Simple pricing</h4>
              <p>The adleria pricing model is very simple. You will just pay for every ad verified to have been displayed on a screen (an impression). Different screens have different prices for the impressions. Factors such as venue, amount of visitors, screen size and location all play a role in the final price.
<br><br>
When you select the screens where your campaign will run, you will see an estimation of the total price, which will normally be lower if some ads are not displayed for some reason. Although you need to have enough funds in your account to start a campaign, the money will not be spent until the ads are finally shown on the screen.</p>
            <h4>Example</h4>
            <p><strong>Total budget required</strong> = ( 5 (adspaces) * 2 (screens) * 0.01 + 5 (adspaces) * 2(screens) *0.02 ) * 15 (times/hour) * 4 (hours) * 14 (days) = (0.1 + 0.2) * 15 * 4 * 14 = 252€</p>
            <hr>
            </div>
          </div>
          <!-- // row  -->
        </div>
        <!-- // container  -->
      </div>
      <!-- // pricing content  -->

          <div class="container-fluid" id="test-block">
            <div class="container">
              <div class="row">
                <header>
                  <h4>what our customers says</h4>
                  <h5>Proin iaculis purus consequat sem cure.</h5>
                </header>
              </div>
              <div class="row">

              <div class="owl-carousel" id="test-slider">

                <div class="item">
                  <div class="test-box">
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Sed sollicitudin tellus vel justo dignissim, nec adipis.</p>
                  </div>
                  <!-- // testimonal box  -->
                  <footer>
                    <img src="/img/misc/test.jpg" alt="">
                    <small>John Doe</small>
                    <h6>Company CEO</h6>
                  </footer>
                </div>
                <!-- // col md 4  -->

                <div class="item">
                  <div class="test-box">
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Sed sollicitudin tellus vel justo dignissim, nec adipis.</p>
                  </div>
                  <!-- // testimonal box  -->
                  <footer>
                    <img src="/img/misc/test.jpg" alt="">
                    <small>John Doe</small>
                    <h6>Company CEO</h6>
                  </footer>
                </div>
                <!-- // col md 4  -->

                <div class="item">
                  <div class="test-box">
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Sed sollicitudin tellus vel justo dignissim, nec adipis.</p>
                  </div>
                  <!-- // testimonal box  -->
                  <footer>
                    <img src="/img/misc/test.jpg" alt="">
                    <small>John Doe</small>
                    <h6>Company CEO</h6>
                  </footer>
                </div>
                <!-- // col md 4  -->

                </div>
                <!-- // test slider                             -->

              </div>
            </div>
          </div>

    {{> footer }}

    {{> copybar }}
  {{/content}}

{{/extend}}
